<div class="flex flex-column align-content-center">
  <h2 class="grid justify-content-center flex-wrap font-bold text-blue-600 mb-4">Pokemon list</h2>


<div *ngIf="isLoading" class="p-4">Loading...</div>
<div *ngIf="error" class="p-4 text-red-500">{{ error }}</div>

<div class="grid justify-content-center">
  <div
    *ngFor="let pokemon of pokemonList"
    class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-2 grid align-items-center justify-content-center 
           bg-blue-400 border-round text-white font-bold p-4 m-2 hover:bg-blue-600 transition-all transition-duration-300"
    style="min-height: 100px; max-height: 200px; min-width: 100px; max-width: 150px;"
  >
    {{ pokemon.name | titlecase }}
  </div>
</div>
</div>